.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow: scroll;
}

.games-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; ;
    gap: inherit;
    padding-top: 130px;
}
.game-item {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}
.game-item:hover {
    transform: translateY(-5px);
}
